@import './vars';
@font-face {
  font-family: 'Exo';
  src: url('./../fonts/Exo20-Thin.woff2') format('woff2'),
    url('./../fonts/Exo20-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', sans-serif;
}
